* {
	margin: 0;
	padding: 0;

}

body {
	color: #333;
	background-color: #f4f4f4;
}


.container {
	display: grid;
	grid-template:
		'h h h'
		'm m m'
		'f f f';
}

.header {
	grid-area: h;
	width: 100%;
}

.header__nav {
	background-color: #00407c;
	align-items: center;
	/* Para alinear verticalmente */
	justify-content: center;
	/* Para alinear horizontalmente */
	box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
	position: fixed;
	width: 100%;
	display: flex;
	padding-block: 0.6%;
}


.header__nav--logo {
	margin-right: 50%;
	width: 150px;
}

.header__nav--a {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0 10px;
	/* Para agregar un espacio entre los enlaces */
	font-size: 0.99999em;
	color: #fff;
	text-decoration: none;
	text-align: center;
	position: relative;
}

.header__nav--a::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	z-index: 1;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.5s ease-in-out;
}

.header__nav--a:hover::before {
	transform: scaleX(1);
}

.active::before {
	transform: scaleX(1);
}

.header--h1 {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	background: rgba(0, 0, 0, 0.7);
	background-repeat: no-repeat;
	background-blend-mode: darken;
	background-size: cover;
	height: calc(700px + 100px);
	width: 100%;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 5em;

}

main {
	grid-area: m;
	display: grid;
	grid-template: 'c a';
	grid-template-columns: 85% 15%;
}



.main__content {
	grid-area: c;
	flex-basis: calc(50% - 20px);
	margin-bottom: 40px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	margin-inline: 20% 5%;
	margin-top: 1%;
	padding-inline: 2%;
	padding-top: 2%;
}


.content__article, .content__resume {
	margin-top: 1%;
	margin-bottom: 1%;
}

.content__article--h2 {
	margin-bottom: 2%;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
}

.content__article__img-template {
	margin-bottom: 2%;
}

.content__article--p, .content__resume--p, .content__article--p strong {
	font-family: 'Kanit', sans-serif;
	font-size: 18px;
	margin-bottom: 2%;
	text-align: justify;
}

.content__article__img-template--img {
	width: 98%;
	margin-inline: 1%;
	margin-top: 2%;
}

.content__article__img-template--p {
	font-family: 'Kanit', sans-serif;
	font-size: 12px;
	text-align: end;
	margin-top: -0.5%;
	margin-right: 1%;
	
}

.main__aside-list {
	grid-area: a;
}

.footer {
	grid-area: f;
	background: #00407c;
	padding: 30px 0px 0 0;
	margin-top: 2%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background-blend-mode: darken;
	text-decoration: none;
	cursor: default;
}

.footer--logo {
	width: 20em;
}

.footer__social {
	display: inline-flexbox;
	color: #fff;
	font-size: 2em;
	margin: 1% 0 1% 0;
}

.footer__social a {
	padding-inline: 0.2em;
	cursor: pointer;
	text-decoration: none;
}

.footer__content a {
	display: inline-flex;
	color: #fff;
	font-size: 0.6em;
	text-decoration: none;
	padding-inline: 1em;
	margin-bottom: 0.6%;
}

.footer__social a:hover,
.footer__content a:hover {
	color: #a5a5a5;
	text-decoration: underline;
}



.footer--copyright {
	font-size: 0.6em;
	color: #fff;
	background-color: #000;
	padding: 0.7em 0;
}