/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Estilos generales */
body {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	background-color: #f4f4f4;
}

.container {
	display: grid;
	grid-template: 
	"h"
	"m"
	"f";
}

.header {
	grid-area: h;
	width: 100%;
}

.header__nav {
	background-color: #00407c;
	align-items: center;
	/* Para alinear verticalmente */
	justify-content: center;
	/* Para alinear horizontalmente */
	box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
	position: fixed;
	width: 100%;
	display: flex;
	padding-block: 0.6%;
}


.header__nav--logo {
	margin-right: 50%;
	width: 150px;
}

.header__nav--a {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0 10px;
	/* Para agregar un espacio entre los enlaces */
	font-size: 0.99999em;
	color: #fff;
	text-decoration: none;
	text-align: center;
	position: relative;
}

.header__nav--a::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	z-index: 1;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.5s ease-in-out;
}

.header__nav--a:hover::before {
	transform: scaleX(1);
}

.active::before {
	transform: scaleX(1);
}


.articles {
	grid-area: m;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 5.7em;
	margin-inline: 25%;
}

.articles__information {
	flex-basis: calc(50% - 20px);
	margin-bottom: 40px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.articles__information--img {
	width: 100%;
	height: 300px;
}

.article__information-template {
	padding: 20px;
	height: 350px;
}

.article__information-template h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.article__information-template--author {
	font-size: 14px;
	color: #666;
	margin-bottom: 5px;
}

.article__information-template--date {
	font-size: 14px;
	color: #666;
	margin-bottom: 15px;
}

.article__information-template--resume {
	font-size: 16px;
	margin-bottom: 20px;
	overflow-y: auto;
	height: 150px;
}

.article__information-template--read-more {

	display: inline-block;
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	transition: all 0.2s ease;
}

.article__information-template--read-more:hover {
	background-color: #666;
	transform: scale(1.1);
}
.footer {
	grid-area: f;
	background-color: #00407c;
	padding: 30px 0px 0 0;
	margin-top: 2%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	background-blend-mode: darken;
	text-decoration: none;
	cursor: default;
}

.footer--logo {
	width: 20em;
}

.footer__social {
	display: inline-flexbox;
	color: #fff;
	font-size: 2em;
	margin: 1% 0 1% 0;
}

.footer__social a {
	padding-inline: 0.2em;
	cursor: pointer;
	text-decoration: none;
}

.footer__content a {
	display: inline-flex;
	font-size: 0.6em;
	color: #fff;
	text-decoration: none;
	padding-inline: 1em;
	margin-bottom: 0.6%;
}

.footer__social a:hover,
.footer__content a:hover {

	color: #a5a5a5;
	text-decoration: underline;
}

.footer--copyright {
	font-size: 0.6em;
	color: #fff;
	background-color: #000;
	padding: 0.7em 0;
}